:root {
  color-scheme: light;
  /* Colours */
  --color-bg: light-dark(#fceb94, #222); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#ff4b00, #2a2042);

  /* Logotype */
  --color-logotype-bg: hsl(0, 0%, 0%);
  --color-text-logotype: light-dark(#fffae2, #cdc7dc);
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#6f90eb, #0e235e);
  /* Links */
  --color-link-bg: light-dark(#fffae2, #2a2042);
  --color-link-hover: light-dark(#fff, #553375); /* used */
  --color-link-active: #dbe2f5; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 3rem;
  --font-sub1-size: 3rem;
  --font-h2-size: 2.25rem;
  --font-h3-size: 2rem;
  --color-headline-bg: #000000;
  --color-headline-text-page: light-dark(#fffae2, #cdc7dc);

  /* Tekst */

  --color-text: light-dark(#000, #cdc7dc);
  --color-text-inverted: light-dark(#fffae2, #cdc7dc);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: light-dark(#fff, #0e235e);
  --color-cta-card-bg: light-dark(#ff4b00, #1a2237);
  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #000);
  --color-news-bg-inverted: light-dark(#dbe2f5, #0e235e);
  --color-cta-newscard-bg: light-dark(#ffa680, #593b2e);
  --color-cta-newscard-bg-inverted: light-dark(#6f90eb, #1a2237);

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark (#fff, #ffffff);
  --color-infobox-1-bg: light-dark(#fceb94, #3e2f4d);
  --color-infobox-2-bg: light-dark(#def5db, #3e2f4d);
}

html.dark {
  color-scheme: dark;
}
